#address.mb-2[address]
  .container
    .row
      .col-sm-7
        = address.formatted_address
      .temps.col-sm-5.text-md-end
        .row
          / Current temperature column
          .col-md-5
            .current-temp
              72째

          / High, Low, and Feels Like temperatures column
          .col-md-7
            .row
              / High temperature
              .col-12
                .high-temp
                  High
                  %i.bi.bi-arrow-up
                  80째
              / Low temperature
              .col-12
                .low-temp
                  Low
                  %i.bi.bi-arrow-down
                  60째
              / Feels like temperature
              .col-12
                .feels-like-temp
                  Feels Like: 75째
